{# purpose of this template: albums admin display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'adminBase' %}
{% extends 'RKEventPhotosModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ album|rkeventphotosmodule_formattedTitle|default(__('Album')) }}{% endblock %}
{% block title %}
    {% set templateTitle = album|rkeventphotosmodule_formattedTitle|default(__('Album')) %}
    {{ templateTitle|notifyFilters('rkeventphotosmodule.filter_hooks.albums.filter')|safeHtml }}{% if routeArea == 'admin' %} <small>({{ album.workflowState|rkeventphotosmodule_objectState(false)|lower }})</small>{% endif %}
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkeventphotosmodule-album rkeventphotosmodule-display">

    <div class="row">
        <div class="col-sm-9">
    {% set itemActions = knp_menu_get('RKEventPhotosModule:ItemActionsMenu:menu', [], {entity: album, area: routeArea, context: 'display'}) %}
    <div class="btn-group btn-group-sm item-actions" role="group" aria-label="{{ __('Actions') }}">
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
    </div>
    <dl>
        {% if album.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ album.workflowState|rkeventphotosmodule_listEntry('album', 'workflowState') }}</dd>
        {% endif %}
        {% if album.albumTitle is not empty %}
            <dt>{{ __('Album title') }}</dt>
            <dd>{{ album.albumTitle }}</dd>
        {% endif %}
        {% if album.albumDate is not empty %}
            <dt>{{ __('Album date') }}</dt>
            <dd>{{ album.albumDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        {% if album.albumDescription is not empty %}
            <dt>{{ __('Album description') }}</dt>
            <dd>{{ album.albumDescription|safeHtml }}</dd>
        {% endif %}
        
    </dl>

    {% if featureActivationHelper.isEnabled(constant('RK\\EventPhotosModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
        {{ include('@RKEventPhotosModule/Helper/includeCategoriesDisplay.html.twig', {obj: album}) }}
    {% endif %}
    <h3 class="hook-assignments">{{ __('Hook assignments') }}</h3>
        {% if hookAssignments|length > 0 %}
            <p>{{ __('This album is assigned to the following data objects:') }}</p>
            <ul>
            {% for assignment in hookAssignments %}
            	<li><a href="{{ assignment.url|e('html_attr') }}" title="{{ __('View this object')|e('html_attr') }}">{{ assignment.date|localizeddate('medium', 'short') }} - {{ assignment.text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ __('This album is not assigned to any data objects yet.') }}</p>
        {% endif %}
    {{ include('@RKEventPhotosModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: album}) }}

    {{ block('display_hooks') }}
        </div>
        <div class="col-sm-3">
            {{ block('related_items') }}
        </div>
    </div>
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Album items') }}</h4>
    {% else %}
        <h3>{{ __('Album items') }}</h3>
    {% endif %}
    
    {% if album.albumItems|default %}
        {{ include(
            '@RKEventPhotosModule/AlbumItem/Admin/includeDisplayItemListMany.html.twig',
            {items: album.albumItems}
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('RKEventPhotosModule:AlbumItem:', '::', 'ACCESS_ADD') %}
    {% if mayManage or (currentUser|default and album.createdBy|default and album.createdBy.getUid() == currentUser.uid) %}
        <p class="managelink">
            {% set createTitle = __('Create album item') %}
            <a href="{{ path('rkeventphotosmodule_albumitem_' ~ routeArea ~ 'edit', {album: album.getKey()}) }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkeventphotosmodule.ui_hooks.albums.display_view', id=album.getKey(), urlObject=currentUrlObject, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
