{# Purpose of this template: Display album items within an external context #}
<dl>
    {% for albumItem in items %}
        <dt>{{ albumItem|rkeventphotosmodule_formattedTitle }}</dt>
        {% if albumItem.imageDescription %}
            <dd>{{ albumItem.imageDescription|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('rkeventphotosmodule_albumitem_display', {'id': albumItem.getId()}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
