{# purpose of this template: albums user display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'base' %}
{% extends 'RKEventPhotosModule::' ~ baseTemplate ~ '.html.twig' %}

{% block appTitle %}{% endblock %}

{% block pageTitle %}{{ album|rkeventphotosmodule_formattedTitle|default(__('Album')) }}{% endblock %}
{% block title %}{% endblock %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkeventphotosmodule-album rkeventphotosmodule-display">
		<div class="row">
			<div class="col-sm-12">

				{% set itemActions = knp_menu_get('RKEventPhotosModule:ItemActionsMenu:menu', [], {entity: album, area: routeArea, context: 'display'}) %}
				<div class="btn-group btn-group-sm item-actions" role="group" aria-label="{{ __('Actions') }}">
					{{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
				</div>
					

			</div>
		</div>
	<div class="row">
        <div class="col-sm-12">
	
	    
		<div class="panel panel-primary">
			<div class="panel-heading">
				{% set templateTitle = album|rkeventphotosmodule_formattedTitle|default(__('Album')) %}
				<h2>{# templateTitle|notifyFilters('rkeventphotosmodule.filter_hooks.albums.filter')|safeHtml #}
					{{ album.albumTitle }} {{ __('on') }} {{ album.albumDate|localizeddate('medium', 'none') }} 
				</h2>
			</div>
            {% if album.albumDescription is not empty %}
			<div class="panel-body">
			<p>{{ album.albumDescription|safeHtml }}<p>
				
			</div>
			{% endif %}

			<div class="panel-footer">
					{% if hookAssignments|length > 0 %}
					<p>{{ __('This album is assigned to the following data objects:') }}</p>
					
					{% for assignment in hookAssignments %}
						<a href="{{ assignment.url|e('html_attr') }}" title="{{ __('View this object')|e('html_attr')}}"  type="button" class="btn btn-default btn-xs">{{ assignment.text }}</a>
						
					{% endfor %}
					
				{% else %}
					<p>{{ __('This album is not assigned to any data objects yet.') }}</p>
				{% endif %}
					
					{% if featureActivationHelper.isEnabled(constant('RK\\EventPhotosModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'album') %}
					
					{% if album.categories is defined %}
					<p><strong>{{ __('Categories') }}: </strong>
					{% for catMapping in album.categories %}
						{{ catMapping.category.display_name[app.request.locale]|default(catMapping.category.name) }}
					{% endfor %}
					</p>
					{% endif %}
					
					    {% if album.createdBy|default and album.createdBy.getUid() > 0 %}
							{% set profileLink = album.createdBy.getUid()|profileLinkByUserId() %}
							<dd class="avatar">{{ userAvatar(album.createdBy.getUid(), {rating: 'g'}) }}</dd>
							<dd>
								{{ __f('Created by %user on %date', {'%user': profileLink, '%date': album.createdDate|localizeddate('medium', 'short')})|raw }}
								{% if currentUser.loggedIn %}
									{% set sendMessageUrl = album.createdBy.getUid()|messageSendLink(urlOnly=true) %}
									{% if sendMessageUrl != '#' %}
										<a href="{{ sendMessageUrl }}" title="{{ __f('Send private message to %userName%', {'%userName%': album.createdBy.getUname()}) }}"><i class="fa fa-envelope-o"></i></a>
									{% endif %}
								{% endif %}
							</dd>
						{% endif %}
			</div>	

			
        </div>
		{% endif %}
		<div class="row">
			<div class="col-sm-12">
				{{ block('related_items') }}
			</div>
		</div>
    <dl>
        {% if album.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ album.workflowState|rkeventphotosmodule_listEntry('album', 'workflowState') }}</dd>
		{% endif %}



        
    </dl>


    

    {{ block('display_hooks') }}

</div></div></div>
{% endblock %}
{% block related_items %}

    
    {% if album.albumItems|default %}
        {{ include(
            '@RKEventPhotosModule/AlbumItem/includeDisplayItemListMany.html.twig',
            {items: album.albumItems}
        ) }}
    {% endif %}
    
    {% set mayManage = hasPermission('RKEventPhotosModule:AlbumItem:', '::', 'ACCESS_ADD') %}
    {% if mayManage or (currentUser|default and album.createdBy|default and album.createdBy.getUid() == currentUser.uid) %}
        <p class="managelink">
            {% set createTitle = __('Create album item') %}
            <a href="{{ path('rkeventphotosmodule_albumitem_' ~ routeArea ~ 'edit', {album: album.getKey()}) }}" title="{{ createTitle|e('html_attr') }}"><i class="fa fa-plus"></i> {{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkeventphotosmodule.ui_hooks.albums.display_view', id=album.getKey(), urlObject=currentUrlObject, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
