{# Purpose of this template: Display albums within an external context #}
<dl>
    {% for album in items %}
        <dt>{{ album|rkeventphotosmodule_formattedTitle }}</dt>
        {% if album.albumDescription %}
            <dd>{{ album.albumDescription|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('rkeventphotosmodule_album_display', {'id': album.getId()}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
